body {
  background-color: black;
  color: yellow;
}
h1,
h2 {
  color: red;
}
th {
  color: blueviolet;
}

a {
  text-decoration: none;
  color: burlywood;
}

ul li {
  color: brown;
}

q {
  color: aquamarine;
}

img,
p {
  display: inline-block;
}
